<h1>
  <%= @article.title %>
  <small>
    <%= link_to edit_article_path do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </small>
</h1>


<img src="http://lorempixel.com/800/300/city/">
<p><%= @article.content %></p>

<%= link_to 'Back to index', articles_path %>
